/* App.css */

/* App container */
/* App.css */

/* App container */
/* App.css */

/* App container #ADD8E6, #DCAE96  #E6E6FA*/
.app {
  text-align: center;
  margin-top: 30px;
  background-color:  #E6E6FA ; /* Light grayish-blue color */

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333; /* Set text color to a darker shade for better readability */
}



/* Tab buttons */
.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-buttons button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.tab-buttons button:hover {
  background-color: #2980b9;
}
