.pomodoro-timer {
  text-align: center;
  margin-top: 100px;
}

.timer {
  font-size: 3rem;
  margin: 20px 0;
}

.buttons button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #2980b9;
}

/* PomodoroTimer.css */

.pomodoro-timer {
  text-align: center;
  margin-top: 50px;
}

.timer {
  font-size: 3rem;
  margin: 20px 0;
}
