
.tasks {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  margin-top: 10px;
}

.tasks h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tasks input {
  padding: 5px;
  font-size: 1rem;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px; /* Add margin at the bottom of the input */
}

.tasks button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Add margin at the bottom of the button */
  margin-right: 10px; /* Add margin between buttons */


}

.tasks button:hover {
  background-color: #2980b9;
}

.tasks ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ddd; /* Add a border between task items */

}

.tasks li button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 3px 6px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Add margin to the left side of the button */
}

.tasks li button:hover {
  background-color: #c0392b;
}

.completed {
  text-decoration: line-through;
}